.signinheader_main {
  height: 50px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: white;
  padding: 0;
}

.logo img {
  height: 30px;
  width: auto;
  margin-right: 5px;
  border-radius: 50%;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo span {
  margin: 8px 0 8px 8px;
  font-family: CircularStd;
  font-size: 18.8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #fff;
}

.signin-btn {
  color: #09a04f;
}
